$animationTime: 0.3s;
$translateXPos: 50%;

.pane {
  position: absolute;
  bottom: 20px;
  left: $translateXPos;
  transform: translate(-$translateXPos, 0);
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  background-color: #1f1f1f;
  padding: 4px;
  box-shadow: 0 6px 16px 0 rgb(0 0 0 / 8%), 0 3px 6px -4px rgb(0 0 0 / 12%), 0 9px 28px 8px rgb(0 0 0 / 5%);
}

.show {
  animation: $animationTime 1 normal slideInUp;
  animation-fill-mode: forwards;
}

.hidden {
  animation: $animationTime 1 normal slideOutDown;
  animation-fill-mode: forwards;
}

@keyframes slideInUp {
  from {
    transform: translate3d(-$translateXPos, 100%, 0);
    visibility: visible;
    opacity: 0;
  }

  to {
    opacity: 1;
    transform: translate3d(-$translateXPos, 0, 0);
  }
}

@keyframes slideOutDown {
  from {
    transform: translate3d(-$translateXPos, 0, 0);
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-$translateXPos, 100%, 0);
  }
}
